/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port

.clj-kondo/
.lsp/

# IDE
.projectile
*.vim
.nvimlog
*.geany
.idea
*.sublime-project
*.sublime-workspace

